body {
   margin: 0 auto;
   font-family: "Montserrat", sans-serif;
   font-size: 18px;
   -webkit-font-smoothing: antialiased;
   background-color: #fff;
}
 
 *,
 *:before,
 *:after {
   box-sizing: border-box;
 }
 
 h1, h2, h3, h4, h5, h6 {
   margin: 0;
 }
 
 p {
   margin: 0 0 10px;
 }
 
 .container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
 }
 
 .header {
   width: 100%;
   height: 100px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
 }

 
 .header.fixed {
   height: auto;
   position: fixed;
   background-color: #31344e;
 }
 
 .header.fixed .header__inner {
   padding-top: 15px;
   padding-bottom: 15px;
   border-bottom: 0;
 }
 
 .header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px 0px 30px;
   border-bottom: 1px solid #515369;
 }
 
 .header-phone {
   margin-top: 60px;
 }
 
 .header-phone-number {
   margin-left: 10px;
   font-family: "Montserrat", sans-serif;
   text-decoration: none;
   color: #606060;
 }
 
 .restangle-1 {
   width: 25px;
   height: 2px;
   background: #887569;
 }
 
 .restangle-2 {
   width: 19px;
   height: 2px;
   background: #887569;
 }
 
 .restangle-3 {
   width: 25px;
   height: 2px;
   background: #887569;
 }
 
 .nav {
   display: flex;
   font-size: 18px;
   font-weight: 700;
   padding: 30px 0;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
 }
 
 .vector {
   margin-top: 50px;
 }
 
 .img-vectors {
   margin-left: 25px;
   color: #fff;
   text-decoration: none;
   opacity: 0.75;
   transition: opacity 0.1s linear;
 }
 
 .restangles div {
   margin: 5px 0;
 }
 
 .nav__link {
   margin-left: 25px;
   color: #887569;
   text-decoration: none;
   opacity: 0.75;
   transition: opacity 0.1s linear;
 }
 
 .nav__link:first-child {
   margin-left: 0;
 }
 
 .nav__link:hover {
   opacity: 1;
 }
 
 .nav-col {
   margin-left: 15px;
 }
 

 
 .social {
   display: inline;
   margin-left: 20px;
 }
 
 select {
   margin-left: 30px;
   border: 0;
   outline: none;
   font-size: 18px;
   color: #787878;
 }
 
 .nav-col-2 {
   font-size: 16px;
 }
 

 
.icons {
   margin-left: 110px;
   color: #7D6C65;
}


.fa-instagram {
   color:#7D6C65;
}


.fa-facebook {
   color:#7D6C65;
}


.book {
   line-height: 22px;
}


.social {
   display: inline;
   margin-left: 20px;
}


select {
   margin-left: 25px;
   border: 0;
   outline: none;
   font-size: 18px;
   color: #787878;
}


.arrow_example_3 {
   border-top: 1.5px solid #787878 !important;
   border-right: 1.5px solid #787878 !important;
   margin: 0px 0 3px 10px;
   transform: rotate(135deg);
   display: inline-block;
}


.arrow_example_4 {
   border-top: 1px solid #787878 !important;
   border-right: 1px solid #787878 !important;
  margin: 0px 0 2px 10px;
   transform: rotate(45deg);
   display: inline-block;
}


.Events {
   flex-direction: column;
   margin-top: 300px;
   margin-left: 25px;
}


.text-Events {
   width: 100px;
   line-height: 44px;
   color:#373737;
   margin-left: -15px;
}


.Events__title { 
   font-weight: 262px;
   font-size: 36px;
}


.section {
    width: 100%;
}


.container {
   margin-top: -20px;
}


.section__text {
   width: 537px;
   height: 150px;
   margin-top: 40px;
   color:#525252;
   font-weight: 300;
   font-size: 16px;
}


.text__lorem {
   width: 537px;
   height: 150px;
   margin-top: 10px;
   color:#525252;
   font-weight: 300;
   font-size: 16px;
}


.section__text2 {
   color: #525252;
   width: 1200px;
   height: 100px;
   margin-top: 20px;
   line-height: 25px;
   font-weight: 300;
   font-size: 16px;
}


.section__photo {
   display: flex;
   justify-content: center;
   margin-left: 545px;
   margin-top: -450px;
}


.photo {
   width: 330px;
   height: 312px;
   padding: 10px;
}


.request-section {
   height: 275px;
   margin-top: 190px;
   background: #E9E5E0;
}


.text-question {
   text-align: center;
   color: #373737;
}


.head-text {
   padding: 40px 0 0 ;
   font-size: 36px;
   font-weight: 300;
}


.head-text-2 {
   padding: 12px 0 0 ;
   font-weight: 300;
}


.application-input-btn {
   padding: 38px 0 0 ;
}


.application-input-btn input {
   font-size: 18px;
   padding: 32px ;
}


.bid-input {
   width: 348px;
   height: 66px;
   border-radius: 8px;
   border: 0;
   margin-left: 20px;
   outline: none;
}


.bid-button {
   width: 348px;
   height: 66px;
   font-size: 18px;
   border: 0;
   border-radius: 8px;
   margin-left: 20px;
   background: #887569;
   color: #FFFFFF;
   transition: .1s linear, color .1s linear;
   cursor: pointer;
}


.bid-button:hover {
   box-shadow: 0px 0px 10px #887569;
}


footer {
   height: 145px;
   background: #F5F5F5;
   display: flex;
}


.footer-information {
   margin-top: -47px;
   margin-left: 140px;
  
}


.footer-content {
   color: #4F4F4F;
   margin-left: 30px;
   opacity: .75;
   transition: opacity .1s linear;
}


.footer-content:hover {
   opacity: 1;
}


.footer-number-phone {
   opacity: .75;
   color: #606060;
   margin-left: 13px;
}


a {
   text-decoration: none;
}
